/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 1rem; /* Reduced padding */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Reduced max-width */
    width: 100%;
    text-align: center;
    margin: 20px 0; /* Top and bottom margins */
}

h1 {
    margin-bottom: 1rem; /* Reduced margin-bottom */
    font-size: 1.5rem; /* Adjusted font size */
}

.label-username,
.label-password,
.label-location {
    display: block;
    text-align: left;
    margin-bottom: 0.25rem; /* Reduced margin-bottom */
}

.input-group {
    margin-bottom: 0.75rem; /* Reduced margin-bottom */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
}

input[type="text"],
input[type="password"],
select {
    width: 100%; /* Adjust width to full */
    padding: 0.5rem; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.25rem; /* Reduced margin-top */
    font-size: 1rem;
    max-width: 250px; /* Set a max width for centering */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #aaa;
}

.forgot-password {
    text-align: right;
    margin-bottom: 1rem; /* Reduced margin-bottom */
}

.forgot-password a {
    color: #667eea;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-button {
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
    padding: 0.5rem 1rem; /* Reduced padding */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
    width: 100%;
}

.login-button:hover {
    background: linear-gradient(135deg, #764ba2, #667eea);
}

#message {
    margin-top: 1rem;
}

.signup-options {
    margin-top: 1.5rem; /* Reduced margin-top */
}

.signup-options p {
    margin-bottom: 0.5rem;
}

.social-buttons a {
    margin: 0 0.25rem; /* Reduced margin */
    display: inline-block;
}

.social-buttons img {
    width: 32px;
    height: 32px;
}

.logo-container {
    text-align: center;
    margin-bottom: 15px; /* Reduced margin-bottom */
}

.logo {
    width: 150px; /* Adjust the width to increase the size */
    height: auto; /* Maintain the aspect ratio */
}
